extends layout

block content
  h1= title
  p Welcome to #{title}
  button(value="play/pause")#toggler
  .stream

  - if (tweets.length)
    .list
      - tweets.forEach(function(tweet){
        .tweet
          .left
            .avatar
              a(href="http://www.twitter.com/#{tweet.from_user}")
                img(src="#{tweet.profile_image_url}")
          .right
            .date
              = tweet.created_at
            .text 
              !{tweet.text}
      - })
  
       
  include templates/twit
  include scripts/io