script#tmpl-twit(type="text/template").
  <div class="tweet">
    <div class="left">
      <div class="avatar">
        <a href="http://www.twitter.com/<%=tweet.user.screen_name %>">
          <img src="<%= tweet.user.profile_image_url %>">
        </a>
      </div>
    </div>
    <div class="right">
      <div class="date"><%= tweet.created_at %></div>
      <div class="text"> 
        <%= tweet.text %>
      </div>
    </div>
  </div>
