body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background: url(/images/retina_wood.png);
}

a {
  color: #00B7FF;
}

.list {
  height: 100%;
  width: 460px;
  padding: 20px 30px;
  background: #fff;

}