script(src="/socket.io/socket.io.js")
script
  var socket = io.connect('http://localhost');
  socket.on('tweet', function (data) {
    console.log(data);
    var twit_tmpl = _.template($('#tmpl-twit').html());
    var t = twit_tmpl(data);

    $('.list').prepend(t);
  }); 

  $('#toggler').click(function(){
    $(this).toggleClass('pause');
    socket.emit('toggle-stream', {value: $(this).attr('class')});
  });