body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.list {
  height: 100%;
  width: 460px;
  padding: 20px 30px;
  background: #fff;

}

.list .tweet {
  padding: 20px 30px;
  background: #ccc;
  border-radius: 5px;
  margin-bottom: 15px;
}